@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Fredoka', sans-serif;
    touch-action: none;
    /* Prevent Pull-to-refresh on mobile */
    -webkit-user-select: none;
    user-select: none;
}

/* Custom Shake Animation Class */
.shake {
    animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
}

/* Character Idle/Pull Motion */
.heave {
    animation: heaveHo 1s infinite alternate ease-in-out;
}

/* Lightning Flash */
.flash-effect {
    animation: flash 0.3s ease-out;
}

@keyframes flash {
    0% {
        opacity: 0;
        transform: scale(0.5) translateY(-50%);
    }

    20% {
        opacity: 1;
        transform: scale(1.2) translateY(-50%);
    }

    40% {
        opacity: 1;
        transform: scale(1) translateY(-50%);
    }

    100% {
        opacity: 0;
        transform: scale(1.5) translateY(-50%);
    }
}